@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.js"></script>
    <script src="~/userlib/hljs/highlight.pack.js"></script>
    <script src="~/js/beautifiers.js"></script>
    <script src="~/js/categoriesManagament.js"></script>
    <script src="~/js/scroller.js"></script>
    <script src="~/js/razorHljs.js"></script>
    <link rel="stylesheet" href="~/userlib/hljs/styles/vs.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
                <div class="row">
                    <a href="/" class="col s1">
                        <i class="material-icons" title="@ViewData["Title"]">language</i>
                    </a>
                    <ul class="col s11">
                        <li>
                            <a href="/About">
                                <i class="material-icons" title="Projects"> assignment_ind </i>
                            </a>
                        </li>
                        <li>
                            <a href="/Projects">
                                <i class="material-icons" title="Projects"> view_module </i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="material-icons" id="prevButton"> fast_rewind </i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="material-icons" id="nextButton"> fast_forward</i>
                            </a>
                        </li>
                    </ul>
                </div> 
        </nav>
    </div >
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    @RenderBody() @RenderSection("Scripts", required: false)
</body>
    <script src="~/js/configuration/scroller.js"></script>

</html>