@model MyWebpage.Abstract.IProjects

<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>ProjectManager</title>
</head>
<body>
<div class="container">
    <br/>
    @foreach (MyWebpage.Abstract.IProject project in Model.ProjectsList)
    {

        <div class="col-sm-12" id=@("ToDelete"+project.Id)>
            <div class="container col-lg-4" id=@("ToModify" + project.Id)>
                <b>
                    @project.Name
                </b>

                @project.Article
            </div>
            <img src="@project.PhotoAdress" class="img-responsive col-lg-6"/>
            <div class="col-lg-2">
                @using (Ajax.BeginForm("RemoveProjectHelper",new AjaxOptions() {UpdateTargetId = "ToDelete"+project.Id,InsertionMode =  InsertionMode.Replace}))
                {
                    @Html.Hidden("id", project.Id)
                    <input class="btn btn-danger" type="submit" value="Usuń @project.Name"/>
                }
                @using (Ajax.BeginForm("ModifyProjectHelper", new AjaxOptions() {UpdateTargetId = "ToModify" + project.Id, InsertionMode = InsertionMode.Replace}))
                {
                    <fieldset>
                        @Html.Hidden("id", project.Id)
                        <input class="btn btn-danger" type="submit" value="Modyfikuj @project.Name"/>
                    </fieldset>
                }
            </div>
        </div>
        <br />
    }
</div>
    <script src="https://raw.githubusercontent.com/aspnet/jquery-ajax-unobtrusive/master/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
</body>
</html>