<div class="container">
    <img src="http://i.imgur.com/3xxhD43.png" id="First" alt="Mateusz Popielarz" class="col-sm-8" height="190"/>
    <img src="http://i.imgur.com/HfoUixp.png" alt="Mateusz Popielarz" class="col-sm-4 " height="190"/>
</div>

<br/>
<div class="container">
    <div class="gadinetBar">
        <ul class="nav nav-tabs">
            <li >
                <a data-toggle="tab" href="#overview">Strona główna</a>
            </li>
            <li>
                <a data-toggle="tab" href="#projects">Projekty</a>
            </li>
            <li>
                <a data-toggle="tab" href="#blog">Blog</a>
            </li>
            <li class="active">
                <a data-toggle="tab" href="#about">O mnie</a>
            </li>
            <li>
                <a data-toggle="tab" href="#faq">FAQ</a>
            </li>
            <li>
                <a data-toggle="tab" href="#login">CMS</a>
            </li>
            <li class="right">
                <a data-toggle="tab" href="#cv">CV</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade" id="cv">
            @Html.Action("Index", "Cv")
        </div>
        <div class="tab-pane fade" id="overview">
            @Html.Action("NewestPostsPartialViewResult", "Blog")
        </div>
        <div class="tab-pane fade" id="blog">
            @Html.Action("GetAllPosrtPartialViewResult", "Blog")
        </div>
        <div class="tab-pane fade " id="login">
            @Html.Action("Login", "Login")
        </div>
        <div class="tab-pane fade in active" id="about">
            @Html.Partial("Articles/AboutMeArticle")
        </div>
        <div class="tab-pane fade" id="faq">
            @Html.Partial("Articles/FAQArticle")
        </div>
        <div class="tab-pane fade" id="projects">
            @Html.Partial("Articles/ProjectsArticle")
        </div>
    </div>
</div>