@model IEnumerable<MyWebpage.Abstract.IBlogPost>



@foreach (var post in Model)
{
    <br/>

    <div class="container col-sm-8 well">

        <div class="col-sm-3">
            <img class="img-thumbnail" src="@post.PhotoAdress" alt="@post.PhotoDescribtion">
            <h6><i>@post.PhotoDescribtion</i></h6>
        </div>

        <div class="col-sm-5">
            <h4 style="color: #ee9054">@post.Header</h4>
        </div>

        <div class="col-sm-8">@post.Content</div>

    </div>
}



