@using RoadToCode.Models.Blog
@model CreatePostViewModel

<div class="container">
    <div class="row">
        <h3 class="center-align">Add new Post</h3>
        @if (ViewBag.ValidationError != null)
        {
            <div class="alert-error">
                <p>Error! @ViewBag.ValidationError</p>
            </div>
        }
        <form class="form-horizontal" method="POST" action="~/Blog/@(ViewData["ReturnAction"])">
            @Html.HiddenFor(t=> t.Id)
            <div class="control-group">
                <div class="controls">
                    <input type="text" data-val="true" name="Title" id="Title" value="@Html.Raw(Model.Title)" placeholder="Title">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" data-val="true" name="Category" id="Category" value="@Model.Category" placeholder="Category">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <textarea name="Content" data-val="true" id="Content" placeholder="Title"> @Model.Content </textarea>
                </div>
            </div>
            <div class="row">
                <div class="control-group col s2">
                    <div class="controls">
                        <a id="PostValue" class='dropdown-button btn' href='#'  data-val="true" name="PostValue" data-activates='PostValueEnumValues'>@Model.PostValue </a>
                            <ul id='PostValueEnumValues' class='dropdown-content'>
                            @foreach (var name in Enum.GetValues(typeof(PostValue)))
                            {
                                <li class="enum-value">@name</li>
                            }
                            </ul>
                    </div>
                </div>
                <div class="control-group col s2 offset-s6 offset-m7 offset-l8">
                    <div class="controls">
                        <button type="submit" class="btn">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
    </form>
</div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("Content") ,
        toolbar: ["bold", "italic", "heading", "|", "quote", "preview", "code"] });
</script>
<script>
        $(".enum-value").each(function() 
        {
            $(this).click(function()
            {
                $("#PostValue").html($(this).html());
            });
        })
</script>