@model MyWebpage.Abstract.IProjects

@{ Layout = null; }

@foreach (var project in Model.ProjectsList)
{
    <br/>
    <div class="@project.Id"/>
    <div class="container">
        <div class="text-center">
            <h2>@project.Name</h2>
        </div>
        <div class="col-md-8">
            <img src="@project.PhotoAdress" alt="MVVM TCP Connector" class="img-responsive"/>
        </div>
        <div class="col-md-4">
            <h5>@project.Article</h5>
            <h5>Link do gitHuba: <a href="@project.GitHubLink">@project.Name</a></h5>
        </div>
    </div>
}